<div class="flexCol jc-space-around" id="gunlocker-wrapper">
    <div class="flexCol jc-space-around">
        <div class="flexRow container jc-space-around">
            <div *ngFor="let type of this.data.weaponTypeButtons" routerLink="/gunlocker/{{type.type}}" (click)="this.data.updateType(type.type)"
                class="typeButton" [style.backgroundImage]="'url('+ type.buttonImage +')'">
            </div>
        </div>
        <div *ngIf=this.data.weaponKeys class="flexMediaRowToCol jc-space-around ai-Center containerTwo">
            <a *ngFor="let weapon of this.data.weaponKeys">
                <div routerLink="/gunlocker/{{this.data.currentTypeRoute}}/{{weapon}}" (click)="this.data.updateWeapon(weapon)">
                    <img src={{this.data.weaponDetails[this.data.currentType][weapon].image}} alt="weaponImage">
                </div>
            </a>
        </div>
    </div>
    <div *ngIf=this.data.currentWeapon>
        <h3> {{this.data.currentWeapon.name}}</h3>
        <table class="container">
            <tr id="table-headers">
                <th>Ammo Type</th>
                <th>Fire Rate</th>
                <th>Magazine Size</th>
                <th>Body Damage</th>
                <th>Headshot Damage</th>
                <th>Hop</th>
                <th>Location</th>
            </tr>
            <tr id="table-data">
                <td> {{this.data.weaponDetails[this.data.currentType][this.data.currentWeapon].ammoType}}</td>
                <td> {{this.data.weaponDetails[this.data.currentType][this.data.currentWeapon].fireRate}}</td>
                <td> {{this.data.weaponDetails[this.data.currentType][this.data.currentWeapon].magazineSize}}</td>
                <td> {{this.data.weaponDetails[this.data.currentType][this.data.currentWeapon].bodyDamage}}</td>
                <td> {{this.data.weaponDetails[this.data.currentType][this.data.currentWeapon].headshotDamage}}</td>
                <td> {{this.data.weaponDetails[this.data.currentType][this.data.currentWeapon].hop}}</td>
                <td> {{this.data.weaponDetails[this.data.currentType][this.data.currentWeapon].location}}</td>
            </tr>
        </table>
    </div>
</div>