#homeContainer{
    padding-top: 68px;
    #landingThing{
        background-image: url("../../assets/images/landscapeOfMap1.jpg");
        height: 90vh;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
    }
}