#homeContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#sectionContainer{
    position: relative;
    top: -120px;
    width: 100vw;
    z-index: 4;
}
#firstSection{
    background: tan;
    min-height: 600px;
}
#shapeHeader{
    background: tan;
    width: 50%;
    margin: 0 auto;
    height: 100px;
    text-align: center;
    h1{
        padding-top: 10px;
    }
    &:before{
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-bottom: 100px solid tan;
        position: absolute;
        content: "";
        top: 0px;
        left: 25%;
        margin-left: -50px;
    }
    &:after{
        width: 0;
        height: 0;
        border-right: 50px solid transparent;
        border-bottom: 100px solid tan;
        position: absolute;
        content: "";
        top: 0px;
        left: 75%;
        margin-right: -50px;
    }
}
#imagesContainer{
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    #video{
        position: relative;
        width: 100%;
        max-height: 90vh;
        object-fit: cover;
        overflow: hidden;
    }
    #image{
        position: absolute;
        object-fit: cover;
        min-height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
div{
    color: black;
}

@media screen and (max-width: 980px){
    #sectionContainer{
        position: absolute;
        text-align: center;
        top: 65vh;
    }
    #video{
        display: none;
    }
    #shapeHeader{
        position: relative;
        top: -65vh;
        background: none;
        color: white;
        width: 100%;
        margin: 0 auto;
        height: 60px;
        text-align: center;
        z-index: 5;
        h1{
            display: none;
        }
        &:before{
            width: 0;
            height: 0;
            border-left: 0;
            border-bottom: 0;
        }
        &:after{
            width: 0;
            height: 0;
            border-right: 0;
            border-bottom: 0;
        }
        h3{
            position: relative;
            top: 60vh;
        }
    }
}