<div id="nav-wrapper">
  <div id="nav-content" class="container flexRow jc-space-between">
    <a routerLink="/">
      <h4> Podium </h4>
    </a>
    <ul class="flexRow" id="desktop-menu">
      <a routerLink="/">
        <li> Home </li>
      </a>
      <a routerLink="/legends">
        <li> Legends </li>
      </a>
      <a routerLink="/about">
        <li> About </li>
      </a>
      <a routerLink="/contact">
        <li> Contact Us </li>
      </a>
      <a routerLink="/login">
        <li> Log In </li>
      </a>
    </ul>
    <div *ngIf="!visible" (click)="openMobileNav()" id="mobile-nav-menu-icon">
      <i class="material-icons"> menu </i>
    </div>
    <div *ngIf="visible" (click)="closeMobileNav()" id="mobile-nav-menu-icon">
      <i class="material-icons"> close </i>
    </div>
  </div>

</div>
<div id="mobile-menu">
  <ul>
    <a routerLink="/" (click)="closeMobileNav()">
      <li> Home </li>
    </a>
    <a routerLink="/legends" (click)="closeMobileNav()">
      <li> Legends </li>
    </a>
    <a routerLink="/about" (click)="closeMobileNav()">
      <li> About </li>
    </a>
    <a routerLink="/contact" (click)="closeMobileNav()">
      <li> Contact Us</li>
    </a>
    <a routerLink="/login" (click)="closeMobileNav()">
      <li> Log In </li>
    </a>
  </ul>
</div>