<div id="nav-wrapper">
  <div id="nav-content" class="flexRow jc-space-between">
    <a id="logoLink" routerLink="/">
      <img id="brand-logo" src="../../assets/images/podiumLogo.png" alt="logoImage">
      <h4> The Podium </h4>
    </a>
    <ul class="flexRow" id="desktop-menu">
      <a href="/">
        <li> HOME </li>
      </a>
      <a href="/legends">
        <li> LEGENDS </li>
      </a>
      <a href="/gunlocker">
        <li> GUN LOCKER </li>
      </a>
      <a href="/about">
        <li> ABOUT </li>
      </a>
    </ul>
    <div *ngIf="!visible" (click)="openMobileNav()" id="mobile-nav-menu-icon">
      <i class="material-icons"> menu </i>
    </div>
    <div *ngIf="visible" (click)="closeMobileNav()" id="mobile-nav-menu-icon">
      <i class="material-icons"> close </i>
    </div>
  </div>

</div>
<div id="mobile-menu">
  <ul>
    <a href="/" (click)="closeMobileNav()">
      <li> HOME </li>
    </a>
    <a href="/legends" (click)="closeMobileNav()">
      <li> LEGENDS </li>
    </a>
    <a href="/gunlocker" (click)="closeMobileNav()">
      <li> GUN LOCKER </li>
    </a>
    <a href="/about" (click)="closeMobileNav()">
      <li> ABOUT </li>
    </a>

  </ul>
</div>