<div id="legend-display" class="flexRow">
  <!-- i want to add carousel of all skins -->
  <div id="img-test">
  <img src="../../assets/bloodhound2.PNG">
  </div>  
  <section id="legend-description">
    <div class="flexCol">
        <h3> Tracker </h3>
        <h5> Passive </h5>
      <p> Foes leave behind clues for you to find.</p>
    </div>
    <div class="divider"></div>
    <div class="flexCol">
        <h3> Eye of the Allfather</h3>
        <h5> Tactical </h5>
      <p> Briefly reveal enemies, traps, and clues through all structures in front of you.</p>
    </div>
    <div class="divider"></div>
    <div class="flexCol">
        <h3> Beast of the Hunter</h3>
        <h5> Ultimate </h5>
      <p> Transform into the ultimate hunter. Enhances your senses, allow you to see cold tracks and move faster for a
        duration.</p>
    </div>
  </section>
</div>