#legend-info-page{
    position: relative;
    background: black;
    height: 100%;
    width: 100%;
}
#backwardButton{
position: absolute;
top: 68px;
left: 0px;
z-index: 10;
}
#forwardButton{
    position: absolute;
    top: 68px;
    right: 0px;
    z-index: 10;
}
#header{
    overflow: hidden;
    max-height: 700px;
    h2{
        position: absolute;
        right: 20%;
        top: 350px;
    }
}
#headerImage{
    margin-top: 40px;
    width: 100%;
}
h2{ 
    text-align: center;
    font-size: 3em;
}
.divider{
    margin-bottom: 40px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}

#infoArea{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    #abilityBackground{
        height: 700px;
        padding: 0;
        position: absolute;
        top: 0;
        object-fit: cover;
    }
}
#infoContainer{
    margin-top: 200px;
    width: 80%;
}
.ability-description{
    text-align: center;
    h3{
        padding: 0;
        height: 66px;
    }
    h5{
        margin-bottom: 10px;
        height: 30px;
    }
}
.abilityImage{
    height: 150px;
    width: 150px;
    margin-bottom: 40px;
    align-self: center;
}

@media screen and (max-width: 980px){
    #infoContainer{
        margin-top: 150px;
        width: 100%;
    }
}
@media screen and (max-width: 780px){
    #header{
        h2{
            text-align: center;
            right: 0;
            bottom: 0;
            width: 100%;
        }
    }
    .abilityImage{
        margin-bottom: 20px;
    }
    .ability-description{
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 460px){
    #header{
        h2{
            margin-top: 40px;
            margin-bottom: 30px;
            width: 100%;
        }
        #headerImage{
            margin-top: 60px;
        }
    }

}