<button *ngIf=this.data.backwardLegendExists (click)="changeLegend(this.data.backwardLegend)" routerLink="/legends/{{this.data.backwardLegend}}"
  id="backwardButton"> {{this.data.backwardLegend}} backwards </button>
<button *ngIf=this.data.forwardLegendExists (click)="changeLegend(this.data.forwardLegend)" routerLink="/legends/{{this.data.forwardLegend}}"
  id="forwardButton"> {{this.data.forwardLegend}} forwards </button>
<div id="legend-info-page">
  <div id="header">
    <img src={{this.currentHeaderImage}} alt="legend-header-image" id="headerImage">
    <h2> {{this.data.legendDetails[this.data.legendLocation].name}} </h2>
  </div>
  <section class="row" id="infoArea">
    <img id="abilityBackground" class="col" src={{this.data.legendDetails[this.data.legendLocation].abilityBackground}}>
    <div id="infoContainer" class="row">
    <div *ngIf="currentLegend" class="flexCol ability-description col-md-4 col-sm-12">
      <img src={{this.data.legendDetails[this.data.legendLocation].passiveImage}} alt="passive-image" class="abilityImage">
      <h3> {{this.data.legendDetails[this.data.legendLocation].passive}} </h3>
      <h5> Passive </h5>
      <p> {{this.data.legendDetails[this.data.legendLocation].passiveDescription}}</p>
    </div>
    <div *ngIf="currentLegend" class="flexCol ability-description col-md-4 col-sm-12">
      <img src={{this.data.legendDetails[this.data.legendLocation].tacticalImage}} alt="tactical-image" class="abilityImage">
      <h3> {{this.data.legendDetails[this.data.legendLocation].tactical}}</h3>
      <h5> Tactical </h5>
      <h4> Cooldown: {{this.data.legendDetails[this.data.legendLocation].tacticalCooldown}}</h4>
      <p> {{this.data.legendDetails[this.data.legendLocation].tacticalDescription}} </p>
    </div>
    <div *ngIf="currentLegend" class="flexCol ability-description col-md-4 col-sm-12">
      <img src={{this.data.legendDetails[this.data.legendLocation].ultimateImage}} alt="ultimate-image" class="abilityImage">
      <h3> {{this.data.legendDetails[this.data.legendLocation].ultimate}} </h3>
      <h5> Ultimate </h5>
      <h4> Charge Time: {{this.data.legendDetails[this.data.legendLocation].ultimateCooldown}}</h4>
      <p> {{this.data.legendDetails[this.data.legendLocation].ultimateDescription}}</p>
    </div>
  </div>
  </section>
</div>