/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nova Flat', cursive;
}
body{
    position: relative;
    background: black;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.flexRow{
    display: flex;
    flex-flow: row wrap;
}
.flexCol{
    display: flex;
    flex-flow: column;
}

.jc-space-between{
    justify-content: space-between;
}

.jc-space-around{
    justify-content: space-around;
}

.ai-Center{
    align-items: center;
}

.flexMediaRowToCol{
    display: flex;
    flex-flow: row;
}

.divider{
    border: 1px solid grey;
    width: 90%;
    margin: 10px auto;
}

@media screen and (max-width: 980px) {
.flexMediaRowToCol{
    flex-flow: column;
}
}