*{
    margin: 0 auto;
}
h2{
    padding-top: 90px;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
}


#legend-wrapper{
    max-width: 80vw;
    background: black;
    padding-top: 40px;
    padding-bottom: 30px;

    #legend-list{
        ul{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            max-width: 50vw;
            li{
                list-style: none;
                margin: 10px 20px;
                a{
                    text-decoration: none;
                    img{
                        height: 200px;
                        width: 100%;
                    }
                    p{
                    margin: 10px auto;
                    text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    img{
        max-height: 100vh;
        max-width: 100vw;
        padding: 0;
    }
    *{
        text-align: center;
    }
}