*{
    margin: 0 auto;
}
#legend-wrapper{
    max-width: 100vw;
}
#legend-list{
    ul{
    display: flex;
    flex-flow: row wrap;
}
}
h2{
    padding-top: 90px;
    font-size: 2.5em;
}
h3{
    margin: 10px auto;
}

p{
    margin: 10px auto;
}

ul{
    margin: 0 auto;
    padding: 0;
li{
    list-style: none;
    a{
        text-decoration: none;
        img{
            height: 200px;
        }
    }
}
#legend-portrait{
    width: 100%;
}
}

@media screen and (max-width: 800px){
    img{
        max-height: 100vh;
        max-width: 100vw;
        padding: 0;
    }
    *{
        text-align: center;
    }
}